body{margin:0px; padding:0px; font-family:Tahoma, Geneva, sans-serif; font-size:0.9em; background-color:#b4e1e7;}
#wrapper{width:1000px; background-color:#FFF; border-left:#CCC groove thin; border-right:#CCC ridge thin; margin:0px auto;}
#header, #menu, #content, #footer{width:100%; margin:0px auto; clear:both;}

/*Header*/
#header{background:url(../Images/Background.jpg) repeat-y left;}
#header .setImage{float:left;}
#header .setLogin{float:right;margin-top:15px; margin-right:40px;}
#header .setLogin a{text-decoration:none;color:#0198b3;}

/*Menu*/
#menu{background-color:#0198b3;}
#menu ul{list-style:none;margin:0px;padding:0px; overflow:hidden;}
#menu ul li{display:inline; float:left;}
#menu ul li a{display:block; margin-left:5px;}
#menu ul li a:link, a:visited{display:block;width:120px;font-weight:bold;color:#FFF;background-color:#0198b3;text-align:center;
								text-decoration:none;padding:4px;text-transform:uppercase;}
#menu ul li a:hover, a:active{background-color:#fceed9; color:#000;}

/*Content*/
#content{background-color:#FFF; padding-top:10px; padding-bottom:10px;}

/*Footer*/
#footer{background-color:#f3f0ec;color:#666;height:80px;}
#footer .setposition{width:800px; height:40px; margin:auto; padding-top:15px;}
#footer .setposition1{float:left;}
#footer .setposition2{float:right;}
