#content_top{float:left; width:702px; margin-bottom:2px;margin-left:3px;}
#content_top .content_top_01{width:702px; height:72px; background-color:#efb04b; color:#FFF;}
#content_top .content_top_01A{float:left; width:308px;}
#content_top .content_top_01B{float:left; width:380px; margin-left:10px;padding-top:10px;}
#content_top .content_top_02{width:702px; margin-top:2px; border:1px solid #CCC; height:392px;}
#content_top .content_top_02 img{position:absolute;	display:none;}

#content_top_right {width:275px;float:left; margin-left:10px; padding-left:2px; padding-right:2px; padding-bottom:10px;background-color:#F3F3F3;}
#content_top_right .content_top_right_01{background-color:#0198b3; height:25px;color:#FFF; padding-left:10px;padding-top:5px; font-weight:bold;}
ul#thumbs li.active{border:2px solid #000;background:#fff;padding:2px;}
ul#thumbs, ul#thumbs li{margin:0;padding:0;list-style:none;}
ul#thumbs li{float:left;margin-right:8px;margin-bottom:6px;border:1px solid #CCC;padding:3px;cursor:pointer;}
ul#thumbs img{float:left;width:120px;height:67px;line-height:80px;overflow:hidden;position:relative;z-index:1;}	

#content_center{width:990px; clear:both;margin-top:10px; position:relative; margin-left:3px; margin-right:3px;}
#content_center .content_center_top{width:990px; height:32px; color:#FFF; background-color:#0198b3; font-weight:bold;font-size:18px; padding-left:2px; padding-right:2px; padding-top:5px;}
#content_center tr td{color:#0198b3; font-size:18px;}