#content_top{background-color:#fabe5e; width:700px; height:72px; color:#FFF;margin-bottom:2px;}
#content_top .content_top_01{float:left; width:308px;}
#content_top .content_top_02{float:left; width:350px; margin-left:20px;padding-top:10px;}
