#content_center {width:980px; margin:0px auto;}
#content_center h1{color:#0198b3; font-size:16px; clear:both;}
#project .project_content_01{width:980px; float:left; margin-bottom:25px;}
#project img{margin-bottom:5px;}
#project .project_content_01_A {width:200px; float:left;}
#project .project_content_01_B {width:760px; float:left; margin-left:15px;}
#project .project01{margin-top:15px;}
#project .project01 a{text-decoration:none;color:#0198b3;}