<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>SimpServlet</servlet-name>
        <servlet-class>servlet.SimpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContObject</servlet-name>
        <servlet-class>firstServlet.ContObject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContextObject</servlet-name>
        <servlet-class>servlet.ContextObject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpServlet</servlet-name>
        <url-pattern>/SimpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContObject</servlet-name>
        <url-pattern>/ContObject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContextObject</servlet-name>
        <url-pattern>/ContextObject</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            SimpServlet
        </welcome-file>
    </welcome-file-list>
</web-app>
