<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentInfo</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginProcessing</display-name>
    <servlet-name>LoginProcessing</servlet-name>
    <servlet-class>servlet.LoginProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProcessing</servlet-name>
    <url-pattern>/LoginProcessing</url-pattern>
  </servlet-mapping>
</web-app>