<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VN_HVAptech_0905E_eProject_Group1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Nhan lenh Insert - Delete - Update Table FAQ</description>
    <display-name>faq_Update</display-name>
    <servlet-name>faq_Update</servlet-name>
    <servlet-class>faq.faq_Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>faq_Update</servlet-name>
    <url-pattern>/faq_Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDel_faq</display-name>
    <servlet-name>addDel_faq</servlet-name>
    <servlet-class>faq.addDel_faq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDel_faq</servlet-name>
    <url-pattern>/addDel_faq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>faq.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDel_contact</display-name>
    <servlet-name>addDel_contact</servlet-name>
    <servlet-class>contact.addDel_contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDel_contact</servlet-name>
    <url-pattern>/addDel_contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDel_project</display-name>
    <servlet-name>addDel_project</servlet-name>
    <servlet-class>project.addDel_project</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDel_project</servlet-name>
    <url-pattern>/addDel_project</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDel_user</display-name>
    <servlet-name>addDel_user</servlet-name>
    <servlet-class>userdetail.addDel_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDel_user</servlet-name>
    <url-pattern>/addDel_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registeruser</display-name>
    <servlet-name>registeruser</servlet-name>
    <servlet-class>userdetail.registeruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registeruser</servlet-name>
    <url-pattern>/registeruser</url-pattern>
  </servlet-mapping>
</web-app>