<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VN_HVAptech_0905E_eProject_Group1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Nhan lenh Insert - Delete - Update Table FAQ</description>
    <display-name>faq_Update</display-name>
    <servlet-name>faq_Update</servlet-name>
    <servlet-class>faq.faq_Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>faq_Update</servlet-name>
    <url-pattern>/faq_Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDel_faq</display-name>
    <servlet-name>addDel_faq</servlet-name>
    <servlet-class>faq.addDel_faq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDel_faq</servlet-name>
    <url-pattern>/addDel_faq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDel_contact</display-name>
    <servlet-name>addDel_contact</servlet-name>
    <servlet-class>contact.addDel_contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDel_contact</servlet-name>
    <url-pattern>/addDel_contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDel_project</display-name>
    <servlet-name>addDel_project</servlet-name>
    <servlet-class>project.addDel_project</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDel_project</servlet-name>
    <url-pattern>/addDel_project</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDel_user</display-name>
    <servlet-name>addDel_user</servlet-name>
    <servlet-class>userdetail.addDel_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDel_user</servlet-name>
    <url-pattern>/addDel_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registeruser</display-name>
    <servlet-name>registeruser</servlet-name>
    <servlet-class>userdetail.registeruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registeruser</servlet-name>
    <url-pattern>/registeruser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>userdetail.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkuserlogin</display-name>
    <servlet-name>checkuserlogin</servlet-name>
    <servlet-class>userlogin.checkuserlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkuserlogin</servlet-name>
    <url-pattern>/checkuserlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDel_feedback</display-name>
    <servlet-name>addDel_feedback</servlet-name>
    <servlet-class>feedback.addDel_feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDel_feedback</servlet-name>
    <url-pattern>/addDel_feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDel_Domain</display-name>
    <servlet-name>addDel_Domain</servlet-name>
    <servlet-class>domain.addDel_Domain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDel_Domain</servlet-name>
    <url-pattern>/addDel_Domain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDel_service</display-name>
    <servlet-name>addDel_service</servlet-name>
    <servlet-class>service.addDel_service</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDel_service</servlet-name>
    <url-pattern>/addDel_service</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcart</display-name>
    <servlet-name>addcart</servlet-name>
    <servlet-class>addtocart.addcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcart</servlet-name>
    <url-pattern>/addcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clearcart</display-name>
    <servlet-name>clearcart</servlet-name>
    <servlet-class>addtocart.clearcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clearcart</servlet-name>
    <url-pattern>/clearcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clearcart1</display-name>
    <servlet-name>clearcart1</servlet-name>
    <servlet-class>addtocart.clearcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clearcart1</servlet-name>
    <url-pattern>/clearcart1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_update_order</display-name>
    <servlet-name>user_update_order</servlet-name>
    <servlet-class>order.user_update_order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_update_order</servlet-name>
    <url-pattern>/user_update_order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_update_order</display-name>
    <servlet-name>admin_update_order</servlet-name>
    <servlet-class>order.admin_update_order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_update_order</servlet-name>
    <url-pattern>/admin_update_order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDel_home</display-name>
    <servlet-name>addDel_home</servlet-name>
    <servlet-class>home.addDel_home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDel_home</servlet-name>
    <url-pattern>/addDel_home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDel_about</display-name>
    <servlet-name>addDel_about</servlet-name>
    <servlet-class>about.addDel_about</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDel_about</servlet-name>
    <url-pattern>/addDel_about</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payment</display-name>
    <servlet-name>payment</servlet-name>
    <servlet-class>payment.payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
</web-app>