body{margin:0px; padding:0px; font-family:Tahoma,Helvetica,Arial,sans-serif; font-size:0.88em; background-color:#b4e1e7;}
#wrapper{width:1000px; background-color:#FFF; border-left:#CCC groove thin; border-right:#CCC ridge thin; margin:0px auto;}
#header, #menu, #content, #footer{width:100%; margin:0px auto; clear:both;}

/*Header*/
#header .header_Logo{width:376px; height:108px; float:left;}
#header .header_Login{width:624px; height:108px; float:left; background-image:url(../Images/Background.jpg); background-repeat:repeat-x; text-align:right;}
#header .header_Login ul{list-style:none; overflow:hidden; margin-right:10px;}
#header .header_Login ul li{display:inline; float:right;}
#header .header_Login ul li a{text-decoration:none;color:#0198b3; margin-right:10px; margin-left:10px;}

/*Menu*/
#menu ul{width:100%; list-style:none;margin:0px;padding:0px;overflow:hidden;
			background: #FFF url(../Images/menu_bg.gif) top left repeat-x; height:32px;}
#menu ul li{float:left;}
#menu ul li a{display:block; margin-left:2px; text-decoration:none; text-transform:uppercase; text-align:center; 
				width:110px; color:#FFF; font-weight:bold; padding-top:5px; height:24px;}
#menu ul li a:hover, #menu ul li .selected{background-color:#FFF; color:#000;}

/* Drop down menu */
.admintabs {position:absolute;top:0;border:1px solid black;border-top-width:8px;border-bottom-width:0;
			line-height:22px;z-index:100;background-color: white;width: 200px;visibility: hidden;}
.admintabs a{width: auto;display: block;text-indent: 5px;border-top: 0 solid #678b3f;border-bottom: 1px solid #678b3f;
				padding:2px 0;text-decoration: none;color: black;}
.admintabs a:hover{background-color: #0198b3;color: white;}
/*#8a3c3d* font:normal 12px Arial;/

/*Content*/
#content{background-color:#FFF; padding-top:10px; padding-bottom:10px; height:auto;}

/*Footer*/
#footer{background-color:#dfdcd9;color:#333;height:80px;}
#footer .setposition{width:870px; height:40px; margin:auto; padding-top:15px;}
#footer .setposition1{float:left;}
#footer .setposition2{float:right; width:260px;}
