#content_center{width:980px; margin-left:5px;}
#content_center label {color:#0198b3; font-size:1em;}
#content_center .faq_update_01 {float:left; clear:both; width:100%;}
#content_center .submit {float:right; margin-right:30px;}
