#loginform{width:340px;border:none; margin:50px auto;}
#loginform .setloginform{clear:both;}
#loginform label{float:left;width:90px; line-height:26px;}
#loginform .input{float:left;clear:right;}
#loginform img{margin-bottom:20px;}
#loginform .submit{margin:20px auto;}
#loginform .setloginform a{text-decoration:none; color:#C00;}
#loginform .setcenter{text-align:center;}