#registerform{width:385px;border:none; margin:50px auto;}
#registerform .setregister{clear:both;}
#registerform label{float:left;width:95px; line-height:26px;}
#registerform .input{float:left;clear:right;}
#registerform img{margin-bottom:20px;}
#registerform .submit{margin:20px auto;}
#registerform .setcenter{text-align:center;}