#content .img{width:980px; margin:0 auto; margin-bottom:20px;}
#content_center {width:980px; margin:0 auto;}
#content_center .content_left {width:500px; float:left;}
#content_center .img{margin-bottom:30px; margin-left:0px;}

#content_left .content_left_01{float:left; width:500px; margin-bottom:20px;}
#Orderdetail {float:left; width:500px;}
#Orderdetail .roworder{float:left; width:500px; margin-top:5px;}
#Orderdetail label{float:left; width:120px;}
#Orderdetail .input{float:left;}

#content_center .content_right{width:450px; float:left; margin-left:30px;}
#content_right .content_right_01 {float:left; width:450px; margin-bottom:20px;}
#content_right .content_right_01 label{width:95px;float:left;}
#content_right .content_right_01 .input{float:left;}
#content_right .content_right_01 .button{margin-left:20px;}